flows.json
[
    {
        "id": "209b59a078ccb765",
        "type": "tab",
        "label": "nodeRED - learning page",
        "disabled": false,
        "info": "- https://www.youtube.com/watch?v=SHYZVkQdo4Q",
        "env": []
    },
    {
        "id": "f4e27a7d177f98fc",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "hello world inject module",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "elso",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "499abf2865e012b1"
            ]
        ]
    },
    {
        "id": "499abf2865e012b1",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "6281a1e8425b6256",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "masodik",
        "payload": "12",
        "payloadType": "num",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "499abf2865e012b1"
            ]
        ]
    },
    {
        "id": "ceba8bb5b8d1ebb9",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"egy\":1,\"ketto\":2}",
        "payloadType": "json",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "a6e2fa15e5d5a557",
                "499abf2865e012b1"
            ]
        ]
    },
    {
        "id": "a6e2fa15e5d5a557",
        "type": "delay",
        "z": "209b59a078ccb765",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "499abf2865e012b1"
            ]
        ]
    },
    {
        "id": "4f92531dd749a076",
        "type": "trigger",
        "z": "209b59a078ccb765",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "499abf2865e012b1"
            ]
        ]
    },
    {
        "id": "3c50c1d7f6ee6d7e",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "hello world inject module",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "elso",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "4f92531dd749a076"
            ]
        ]
    },
    {
        "id": "0428a9b0b5f29ee5",
        "type": "http request",
        "z": "209b59a078ccb765",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://index.hu",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "8306a5a2fb5fe4ab"
            ]
        ]
    },
    {
        "id": "e628132a7e66bd05",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 400,
        "wires": [
            [
                "0428a9b0b5f29ee5"
            ]
        ]
    },
    {
        "id": "8306a5a2fb5fe4ab",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "84c958d7d6164474",
        "type": "switch",
        "z": "209b59a078ccb765",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "1",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 600,
        "wires": [
            [
                "e56853d5722738df"
            ],
            [
                "dcb3a59566e3a3df"
            ]
        ]
    },
    {
        "id": "8d34c7223d982c68",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "84c958d7d6164474"
            ]
        ]
    },
    {
        "id": "7c967be7b18b80fb",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "84c958d7d6164474"
            ]
        ]
    },
    {
        "id": "8f670491f7877be2",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "84c958d7d6164474"
            ]
        ]
    },
    {
        "id": "32feb9d79f1aa506",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "84c958d7d6164474"
            ]
        ]
    },
    {
        "id": "e56853d5722738df",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 560,
        "wires": []
    },
    {
        "id": "dcb3a59566e3a3df",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "d0a46a6e4d686af6",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 760,
        "wires": [
            [
                "9ca5a5c62acc2112"
            ]
        ]
    },
    {
        "id": "9ca5a5c62acc2112",
        "type": "change",
        "z": "209b59a078ccb765",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 760,
        "wires": [
            [
                "c02985501bf8904d"
            ]
        ]
    },
    {
        "id": "c02985501bf8904d",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 760,
        "wires": []
    },
    {
        "id": "93c5ebc5b9919df1",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"egy\":1,\"ketto\":2}",
        "payloadType": "json",
        "x": 250,
        "y": 820,
        "wires": [
            [
                "cd9416d044c9ec36",
                "bfb3a51d7ae3e59d"
            ]
        ]
    },
    {
        "id": "cd9416d044c9ec36",
        "type": "change",
        "z": "209b59a078ccb765",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.egy",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 800,
        "wires": [
            [
                "bfb3a51d7ae3e59d"
            ]
        ]
    },
    {
        "id": "bfb3a51d7ae3e59d",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 840,
        "wires": []
    },
    {
        "id": "a1492e1e4cd6ab46",
        "type": "change",
        "z": "209b59a078ccb765",
        "name": "floor",
        "rules": [
            {
                "t": "set",
                "p": "payload.egy",
                "pt": "msg",
                "to": "$floor(msg.payload.egy)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 980,
        "wires": [
            [
                "51d3afafd91b500f"
            ]
        ]
    },
    {
        "id": "60824af2efc71556",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"egy\":0.3,\"ketto\":2}",
        "payloadType": "json",
        "x": 260,
        "y": 980,
        "wires": [
            [
                "a1492e1e4cd6ab46"
            ]
        ]
    },
    {
        "id": "51d3afafd91b500f",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 980,
        "wires": []
    },
    {
        "id": "e042149d15b958d5",
        "type": "range",
        "z": "209b59a078ccb765",
        "minin": "0",
        "maxin": "1024",
        "minout": "0",
        "maxout": "4000",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 340,
        "y": 1080,
        "wires": [
            [
                "ac6b7a5399f10d16"
            ]
        ]
    },
    {
        "id": "4528eb29320e136b",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "1",
        "payloadType": "num",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "e042149d15b958d5"
            ]
        ]
    },
    {
        "id": "cd6d266e92742b9e",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "900",
        "payloadType": "num",
        "x": 180,
        "y": 1120,
        "wires": [
            [
                "e042149d15b958d5"
            ]
        ]
    },
    {
        "id": "ac6b7a5399f10d16",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1080,
        "wires": []
    },
    {
        "id": "958b24b7bea3c22b",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "1234567891",
        "payloadType": "num",
        "x": 190,
        "y": 1160,
        "wires": [
            [
                "e042149d15b958d5"
            ]
        ]
    },
    {
        "id": "427b43b20499e9ce",
        "type": "split",
        "z": "209b59a078ccb765",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 1240,
        "wires": [
            [
                "b11de8749ba6d23f",
                "71c54e8d0829b537"
            ]
        ]
    },
    {
        "id": "b11de8749ba6d23f",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7a61279b2135c947",
        "type": "inject",
        "z": "209b59a078ccb765",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "alma \\n fa",
        "payloadType": "str",
        "x": 170,
        "y": 1240,
        "wires": [
            [
                "427b43b20499e9ce"
            ]
        ]
    },
    {
        "id": "b0a2681d5f337eb2",
        "type": "join",
        "z": "209b59a078ccb765",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 1280,
        "wires": [
            [
                "41c574fb109d7300"
            ]
        ]
    },
    {
        "id": "71c54e8d0829b537",
        "type": "change",
        "z": "209b59a078ccb765",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload & \"Ł\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1280,
        "wires": [
            [
                "b0a2681d5f337eb2"
            ]
        ]
    },
    {
        "id": "41c574fb109d7300",
        "type": "debug",
        "z": "209b59a078ccb765",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1280,
        "wires": []
    }
]